JavaProjects/JavaLanguageExamples/input/purchase_order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- Define a rule for the document element -->
	<xs:element name="purchaseOrder">
		<xs:complexType>
				<xs:sequence>
					<xs:element name="customer" type="customerDetailsType"/>
					<xs:element name="itemsList" type="itemsListType"/>
				</xs:sequence>
				<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
		
	<!-- Define a type for customer details -->
	<xs:complexType name="customerDetailsType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="address" type="addressType"/>
			<xs:element ref="paymentOptions"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	
	<!-- Define a paymentOptions element -->
	<xs:element name="paymentOptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="category" type="xs:string"/>
				<xs:element name="daysToPay" type="xs:integer"/>
				<xs:element name="creditLimit" type="xs:integer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- Define a type for addresses -->
	<xs:complexType name="addressType">
		<xs:sequence>
			<xs:element name="city" type="xs:string"/>
			<xs:element name="street">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="no" type="xs:integer"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="postcode" type="xs:string"/>
	</xs:complexType>

	<!-- Define a type for a list of items -->
	<xs:complexType name="itemsListType">
		<xs:sequence>
			<xs:element name="item" type="itemType" minOccurs="1" maxOccurs="20"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Define a type for an individual item -->
	<xs:complexType name="itemType">
		<xs:sequence>
			<xs:element name="description" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="index" type="xs:integer" use="required"/>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="quantity" type="xs:integer" use="required"/>	
	</xs:complexType>
</xs:schema>
